body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #e6e8e6;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  text-align: center;
}
.subtext {
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BarChart .MuiChartsXAxis-label {
  font: bold;
  font-size: 4rem;
  margin-left: 4rem;
}
.options-form {
  display: flex;
  place-content: center;
  gap: 4rem;
  margin: 4rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 640px) {
  .options-form {
    display: grid;
    grid-column: column;
    place-content: center;
    gap: 4rem;
    margin: 4rem;
    margin-bottom: 1rem;
  }
}
