body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #e6e8e6;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  text-align: center;
}
.subtext {
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-form {
  display: flex;
  place-content: center;
  gap: 4rem;
  margin: 4rem;
}

@media (max-width: 640px) {
  .options-form {
    display: grid;
    grid-column: column;
    place-content: center;
    gap: 4rem;
    margin: 4rem;
  }
}
